@model TuVanKhamBenh.Models.LichKham

@{ Layout = null; }

<!DOCTYPE html>

<html>
<head>
  <meta name="viewport" content="width=device-width" />
  <link rel="shortcut icon " href="~/Hinh/logo.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
  <link rel="stylesheet" href="~/Content/css/quanly.css" />
  <script src="~/Scripts/jquery-3.4.1.min.js"></script>
  <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
  <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
  <title>Chỉnh Sửa Lịch Khám</title>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.datepicker').datepicker({
        dateFormat: 'dd/mm/yy',
        changeMonth: true,
        changeYear: true,
        minDate: new Date(),

        yearRange: '-0:+2'
      });
      var date = new Date();
      date.setDate(date.getDate());
    });
  </script>
</head>

<body>

  @using (Html.BeginForm())
  {
@Html.AntiForgeryToken()

        <div class="form-horizontal">
          <h1> Chỉnh sửa thông tin lịch khám</h1>


          @Html.ValidationSummary(true, "", new { @class = "text-danger" })
          @*@Html.HiddenFor(model => model.Username)*@

          <div class="form-group">
            @Html.LabelFor(model => model.Info, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              <select name="Tuoi">
                <option>Chọn tuổi</option>
                @foreach (var i in ViewBag.tuoi)
                {
                  if (@i.Tuoi == ViewBag.t)
                  {
                    <option value="@i.Tuoi" selected="selected">@i.Tuoi</option>
                  }
                  else
                  {
                    <option value="@i.Tuoi">@i.Tuoi</option>
                  }
                      }
              </select>
              <select name="CanNang">
                <option>Chọn cân nặng</option>
                @foreach (var i in ViewBag.cannang)
                {
                  if (@i.CanNang == ViewBag.c)
                  {
                      <option value="@i.CanNang" selected="selected">@i.CanNang</option> }
                  else
                  {
                      <option value="@i.CanNang">@i.CanNang</option>}
                  }
                }
              </select>

              <select name="Giong">
                <option>Chọn giống</option>
                @foreach (var i in ViewBag.giong)
                {
                  if (@i.Giong == ViewBag.g)
                  {
                    <option value="@i.Giong" selected="selected">@i.Giong</option>
                  }
                  else
                  {
                    <option value="@i.Giong">@i.Giong</option>
                  }
                 }              
              </select>
              @*@Html.EditorFor(model => model.Info, new { htmlAttributes = new { @class = "form-control" } })*@
              @Html.ValidationMessageFor(model => model.Info, "", new { @class = "text-danger" })
            </div>
          </div>


      <div class="form-group">
        @*@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })*@
        <div class="col-md-10">
          @Html.HiddenFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
          @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
        </div>
      </div>
      

          @*<div class="form-group">
            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
            </div>
          </div>*@

          <div class="form-group">
            @Html.LabelFor(model => model.Ten, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.Ten, new { htmlAttributes = new { @class = "form-control" } })
              @Html.ValidationMessageFor(model => model.Ten, "", new { @class = "text-danger" })
            </div>
          </div>

          @*<div class="form-group">
                @Html.LabelFor(model => model.NgayDat, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NgayDat, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
                </div>
            </div>*@

          <div class="form-group">
            @Html.LabelFor(model => model.NgayHen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
              @Html.EditorFor(model => model.NgayHen,
                            new
                            {
                              htmlAttributes = new
                              {
                                @readonly = "true",
                           //Value = Model.NgayHen.ToString("dd-MM-yyyy"),
                           Value = ViewBag.NgayHen.ToString("dd/MM/yyyy"),
                                @class = "form-control datepicker",
                                @id = "txtNgayHen"
                              }
                            })
              @*@Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control" } })*@
              @Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })
            </div>
          </div>


          @*<div class="form-group">
              @Html.LabelFor(model => model.NgayHen, htmlAttributes: new { @class = "control-label col-md-2" })
              <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })
              </div>
            </div>*@


          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <input type="submit" value="Lưu" class="btn btn-default" />
            </div>
          </div>

          <div class="back1">
            @Html.ActionLink(" Trở lại ", "Index")

          </div>
        </div>}


</body>
</html>