@model IEnumerable<TuVanKhamBenh.Models.UserAccount>

@{
  ViewBag.Title = "Index";
  Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="~/Content/css/quanly.css">
  <title>Quản Lý Tài Khoản</title>
</head>
<body>
  <img src="~/Hinh/meoxam.png" width="300px" height="200px">

  <div class="row">
    <span>DANH SÁCH TÀI KHOẢN </span>
  </div>

  <div class="container">
    <div class="create-div">
      @Html.ActionLink("Thêm tài khoản", "spCreate", new { @class = "fa-solid fa-pen-to-square" })
    </div>
    @*@Html.ActionLink("  ", "Index", new { id = "link1" }, new { @class = "fas fa-sign-out-alt" })*@
    <button class="custom-btn btn-dn"><span>@Html.ActionLink("Đăng xuất", "LogOut", "TaiKhoan")</span></button>


  </div>

  <div class="container">

    <div class="admin-table">
      <table>
        <thead>
          <tr>
            <th>
              @Html.DisplayNameFor(model => model.Username)
            </th>
            @*<th>
              @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
              @Html.DisplayNameFor(model => model.Ten)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Gmail)
            </th>
            <th>
              @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>

          @foreach (var item in Model)
          {
            <tr>
              <td>
                @Html.DisplayFor(modelItem => item.Username)
              </td>
              @*<td>
                @Html.DisplayFor(modelItem => item.Password)
              </td>*@
              <td>
                @Html.DisplayFor(modelItem => item.Ten)
              </td>
              <td>
                @Html.DisplayFor(modelItem => item.Gmail)
              </td>
              <td>
                @if (item.Admin == true)
                {
                  <p>Admin</p>
                  @*@Html.DisplayFor(modelItem => item.Admin)*@
                }
                else
                {
                  <p>Khách hàng</p>
                }

              </td>
              <td>
                @Html.ActionLink(" ", "Edit", new { Username = item.Username }, new { @class = "far fa-edit" })
              </td>
              <td>
                @Html.ActionLink(" ", "Delete", new { Username = item.Username }, new { @class = "fas fa-trash-alt", onclick = "return confirm('Bạn muốn xoá đối tượng này?')" })
              </td>
              <td>
                @Html.ActionLink(" ", "Details", new { Username = item.Username }, new { @class = "fas fa-eye" })
              </td>
            </tr>
          }

          @*<td>
                        @Html.ActionLink(" ", "Edit", new { Username = item.Username }, new { @class = "far fa-edit" })
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Delete", new { Username = item.Username }, new { @class = "fas fa-trash-alt" })
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { Username = item.Username }, new { @class = "fas fa-eye" })
                    </td>

                </tr>
            }*@
          </tbody>
      </table>
    </div>
  </div>

</body>
</html>



